/* table default */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid;
    text-align: left;
    padding: 1%;
  }

a {
    text-decoration: none;
  }
  a:link {
    color: #8080ff;
  }
  a:visited {
    color: #8157a8;
  }

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1%;
}

/* The navigation menu links */
.sidenav a {
    padding: 1% 1% 1% 5%;
    text-decoration: none;
    font-size: 1.5vw;
    color: #dadada;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 10%; /* Same as the width of the sidebar */
    margin-right: 10%; /* Same as the width of the sidebar */
    padding: 0% 1%;
    font-size: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/* @media screen and (max-width: 800px) {
    .main {font-size: 2vw}
    .sidenav {padding-top: 1%;}
    .sidenav a {font-size: 150%;}
}  */